<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>initH</servlet-name>
  	<servlet-class>com.mmsp.InitHibernate</servlet-class>
  </servlet>
  
  
  <servlet>
  	<servlet-name>userAdd</servlet-name>
  	<servlet-class>com.mmsp.UserAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userUpd</servlet-name>
  	<servlet-class>com.mmsp.UserUpd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userDel</servlet-name>
  	<servlet-class>com.mmsp.UserDel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userRoom</servlet-name>
  	<servlet-class>com.mmsp.UserRoom</servlet-class>
  </servlet>
  
  
  <servlet>
  	<servlet-name>prodRoom</servlet-name>
  	<servlet-class>com.mmsp.ProdRoom</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>prodUpd</servlet-name>
  	<servlet-class>com.mmsp.ProdUpd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>prodAdd</servlet-name>
  	<servlet-class>com.mmsp.ProdAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>prodDel</servlet-name>
  	<servlet-class>com.mmsp.ProdDel</servlet-class>
  </servlet>
  
  
  <servlet>
  	<servlet-name>requRoom</servlet-name>
  	<servlet-class>com.mmsp.RequRoom</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>requAdd</servlet-name>
  	<servlet-class>com.mmsp.RequAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>requDel</servlet-name>
  	<servlet-class>com.mmsp.RequDel</servlet-class>
  </servlet>
  
  
  
  <servlet-mapping>
  	<servlet-name>initH</servlet-name>
   	<url-pattern>/initH</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<servlet-name>userAdd</servlet-name>
   	<url-pattern>/userAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userUpd</servlet-name>
   	<url-pattern>/userUpd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userDel</servlet-name>
   	<url-pattern>/userDel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userRoom</servlet-name>
   	<url-pattern>/userRoom</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<servlet-name>prodRoom</servlet-name>
   	<url-pattern>/prodRoom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>prodUpd</servlet-name>
   	<url-pattern>/prodUpd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>prodAdd</servlet-name>
   	<url-pattern>/prodAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>prodDel</servlet-name>
   	<url-pattern>/prodDel</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<servlet-name>requRoom</servlet-name>
   	<url-pattern>/requRoom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>requAdd</servlet-name>
   	<url-pattern>/requAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>requDel</servlet-name>
   	<url-pattern>/requDel</url-pattern>
  </servlet-mapping>
</web-app>
